*{
    display:block;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background-color: rgb(251, 252, 253);
    box-sizing: border-box;
}

.container{
    padding:10px;
    width:400px;
    margin:0 auto;
    display: block;
    border-radius: 5px;
    border: 3px solid #29264A;
}

.header{
    width: 100%;
    height:120px;
    background-image: url('../img/foto9.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px gray;
    
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    bottom: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    color:#af0000;
    /* transform: rotate(45deg); */
}

#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 30px;
        
}

#tasksCount{
    color: #29264A;
    font-weight: bold;
    padding-left: 20px;
}

.content{
    width:100%;
    min-height:350px;
    height: 450px;
    overflow: auto;
    padding-top: 15px
    
}

.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:100%;
    min-height: 45px;
    position: relative;
    border: 1px solid #29264A;
    border-radius: 5px; 
    box-shadow: 1px 2px gray;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
    
}
.item i.co{
    position: absolute;
    font-size: 20px;
    padding-left:5px;
    left:15px;
    top:12px;
    /* color: #29264A; */
}
.item i.co:hover{
    cursor: pointer;
}

.fa-circle-thin{
    color: #29264A;
}

.fa-check-circle{
    color:#097a2f;
}
.item p.text{
    position: relative;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:5px;
    background-color: none;
    max-width:285px;
    color:#29264A
}
.lineThrough{
    text-decoration: line-through;
    color : #ccc;
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:15px;
    font-size: 15px;
    color: #29264A
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

.add{
    width:100%;
    min-height: 45px;
    position: relative;
    border: 1px solid #29264A;
    border-radius: 5px; 
    box-shadow: 1px 2px gray;
    list-style: none;
    padding: 0;
    background-color: none;
}

.add i{
    position: absolute;
    font-size: 20px;
    padding-left:5px;
    right:15px;
    top:13px;
    color: #29264A;
    cursor: pointer;
}

.add i:hover{
    color: #097a2f
}

.add input{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:5px;
    top:5px;
    border: none;
    background-color: none;
}

.add input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #29264A;
    font-size: 20px;
    padding: 20px;
    background-color:rgb(245, 248, 255);
}

